<!-- Folder Creation Modal -->
<!-- Form : folder-create-form -->
<!-- Submit method overwritten in myfiles.js -->
<div class="modal fade" id="createFolderModel" tabindex="-1" role="dialog" aria-labelledby="createFolderModelTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form class="modal-content" id="folder-create-form" method="POST" action="{% url 'create_folder' %}">
            {% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title" id="createFolderModelLongTitle">Create New Folder</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center input-group">
                <input type="hidden" name="current_folder_id" value="{{ current.id }}">
                <input class="form-control" type="text" placeholder="Folder Name" name="folder_name" required>
                <div class="input-group-append">
                    <input type="submit" class="btn btn-outline-secondary" value="Create Folder">
                </div>
            </div>
        </form>
    </div>
</div>