{% load static %}

<div class="border-right" id="sidebar-wrapper">
    <div class="sidebar-heading"> <img src="{% static 'img/logo.png' %}"></div>
    {% if user.is_authenticated %}
    <div class="container">
        <p class="user-name">{{ user.first_name }} {{ user.last_name }}</p>
        <a href="{% url 'dashboard' %}">
            <div class="progress">
                <div class="progress-bar" id="quota-sidebar-progressbar" role="progressbar" aria-valuemin="0"
                    aria-valuemax="100"></div>
            </div>
        </a>
        <p class="user-usage-info" id="quota-sidebar-info"></p>
    </div>
    {% endif %}
    <div class="list-group list-group-flush" id="side-bar-items">
        {% if user.is_authenticated %}
        <a href="{% url 'myfiles' %}"
            class="list-group-item {% if request.path == '/' or 'folders' in request.path or 'search' in request.path %} selected {% endif %}">My
            Files</a>

        <a href="{% url 'shared' %}"
            class="list-group-item {% if 'shared' in request.path %} selected {% endif %}">Shared Files</a>
        <a href="{% url 'recyclebin' %}"
            class="list-group-item {% if 'recyclebin' in request.path %} selected {% endif %}">Recycle Bin</a>
        <a href="{% url 'dashboard' %}"
            class="list-group-item {% if 'dashboard' in request.path %} selected {% endif %}">Dashboard</a>
        <!-- Put logout inside the dashboard -->
        <a href="javascript:{document.getElementById('logout').submit()}" class="list-group-item">Logout</a>
        <form action="{% url 'logout' %}" method="POST" id="logout">
            {% csrf_token %}
            <input type="hidden">
        </form>
        <!-- End logout -->
        {% else %}
        <a href="{% url 'login' %}"
            class="list-group-item {% if 'login' in request.path %} selected {% endif %}">Login</a>
        <a href="{% url 'register' %}"
            class="list-group-item {% if 'register' in request.path %} selected {% endif %}">Register</a>
        {% endif %}
    </div>
</div>