{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Header & Upload -->
<div class="container-fluid">
    <div class="row">
        <h2>Dashboard</h2>
    </div>
</div>

<div class="container-fluid mt-3">
    <div class="row">
        <h4>Account Statistics</h4>
    </div>
</div>

<div class="container-fluid mt-3 mb-3">
    <div class="row">
        <div class="col-12 col-sm-4">
            <div class="card">
                <div class="card-header">
                    Folders</div>
                <div class="card-body text-right" style="font-size: 60px">
                    {{ folder_count }} <i class="fas fa-folder"></i>
                </div>
                <div class="card-footer">
                    The number of user owned folders.</div>
            </div>
        </div>

        <div class="col-12 col-sm-4">
            <div class="card">
                <div class="card-header">
                    Files</div>
                <div class="card-body text-right" style="font-size: 60px">
                    {{ file_count }} <i class="fas fa-file"></i>
                </div>
                <div class="card-footer">
                    The number of user owned files.</div>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="card">
                <div class="card-header">
                    Storage Used</div>
                <div class="card-body text-right" style="font-size: 60px">
                    {{percentage_used}}% <i class="fas fa-database"></i>
                </div>
                <div class="card-footer">
                    {{user_preferences.current_usage_mb }}mb out of {{user_preferences.max_usage_mb }}mb used</div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-3">
    <div class="row">
        <h4>Account Preferences</h4>
    </div>
</div>

<div class="container-fluid">
    <div class="col-md-4">
        <form action="{% url 'save_preferences' %}" method="POST">
            {% csrf_token %}
            <label>Name & Surname</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="first_name" value="{{user.first_name}}">
                <input type="text" class="form-control" name="last_name" value="{{user.last_name}}">
                <div class="input-group-append">
                    <input class="btn btn-outline-secondary" type="submit" value="Save">
                </div>
            </div>
            <label>Recycle Bin Lifetime (Days)</label>
            <div class="input-group mb-3">
                <input type="number" class="form-control" name="recycle_lifetime" max="90" min="0"
                    value="{{user_preferences.recyclebin_lifetime}}">
                <div class="input-group-append">
                    <input class="btn btn-outline-secondary" type="submit" value="Save">
                </div>
            </div>
        </form>
    </div>
</div>



{% endblock %}