body {
    background-color: #f7f7f7;
    overflow-x: hidden;
}

.list-group-item {
    color: #474747;
}


.list-group-item:hover {
    text-decoration: none;
    background-color: #4b86b4;
    color: white;
}

.selected {
    color: white !important;
    background-color: #4b86b4;
}

#sidebar-wrapper {
    background-color: white;
    box-shadow: 0px 0px 3px #c1c1c1;    
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

/*Logo*/
.sidebar-heading img{    
    width: 150px;
    margin: auto;
}

.user-profile p{        
    text-align: left;
    padding-top: 10px;
    padding-bottom: 5px;
}

.user-usage-info{
    font-size: 13px;
    text-align: left;
    padding: 5px;
}

.user-name{
    font-weight: bold;
    margin-bottom: 2px;
}

.progress{
    height: 25px;
}

.progress-bar{
    background: #4b86b4;
}


#sidebar-wrapper .sidebar-heading {
    text-align: center;
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
    padding: 20px;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}
