/*
Color Scheme 
- #2a4d69 - DARKER
- #4b86b4
- #adcbe3
- #e7eff6 - LIGHTER
- #63ace5
*/

.empty-state{
    border: dashed grey 2px; 
    border-radius: 10px; 
    height: 65vh; 
    width: 100%; 
    cursor: pointer;
}

.empty-state i{
    background-color: #4b86b4; 
    padding: 50px; 
    color: white; 
    font-size: 60px; 
    border-radius: 50%; 
    margin-bottom: 10px;
}


.file-controls button:hover {
    background: #2a4d69 !important;
}

a {
    color: #4b86b4;
}

a:hover {
    color: #2a4d69;   
    text-decoration: none;
}

.btn {
    color: white;
    background-color: #4b86b4;
    cursor: pointer;
}

.btn:hover {
    color: white;
    background-color: #2a4d69;
}

/* LOGIN/REGISTER SCREEN */
.login-container {
    margin-top: 5%;
    margin-bottom: 5%;
}

.login-logo {
    position: relative;
    margin-left: -41.5%;
}

.login-logo img {
    position: absolute;
    width: 20%;
    margin-top: 19%;
    background: #e7eff6;
    border-radius: 4.5rem;
    padding: 1%;
}

.login-form-1 {
    padding: 9%;
    background: #2a4d69;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form-1 h3 {
    text-align: center;
    margin-bottom: 12%;
    color: #fff;
}

.login-form-2 {
    padding: 9%;
    background: #63ace5;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form-2 h3 {
    text-align: center;
    margin-bottom: 12%;
    color: #fff;
}

.btnSubmit {
    font-weight: 600;
    width: 50%;
    color: #282726;
    background-color: #fff;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
}

.btnForgetPwd {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.btnForgetPwd:hover {
    text-decoration: none;
    color: #fff;
}

.breadcrumb {
    background: #f7f7f7;
}

input[type="file"] {
    display: none;
}
