{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Header & Upload -->
<div class="container-fluid">
    <div class="row">
        <h2>My Files</h2>
        <div class="ml-4">
            <!-- Form gets auto submitted when uploaded. Check myfiles.js -->
            <form id="upload-form" action="{% url 'upload_file' %}" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <input type="hidden" name="current_folder_id" value="{{ current.id }}">
                <label for="file-upload" class="btn" id="upload-btn">
                    <i class="fas fa-upload"></i> Upload File
                </label>
                <input id="file-upload" type="file" name="upload_file[]" />
            </form>
        </div>
    </div>
</div>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'myfiles' %}" class="droppable" id="folder-{{ root.id }}">
                    <i class="fas fa-home"></i> All Files</a>
            </li>
            {%  for crumb in breadcrumbs %}
            {% if crumb.parent_folder %}
            <li class="breadcrumb-item">
                <a href="{% url 'folders' crumb.id %}" class="droppable" id="folder-{{ crumb.id }}"> {{ crumb.name }}
                </a>
            </li>
            {% endif %}
            {%  endfor %}
            {% if current.parent_folder %}
            <li class="breadcrumb-item active"> {{ current.name }}</li>
            {% endif %}
        </ol>
    </nav>
</section>

<!-- File/Folder Controls-Buttonbar -->
<div class="file-controls mb-3">
    <div class="btn-group" role="group" aria-label="Basic example">
        <form action="{% url 'search' %}" id="search-form">
            <input class="form-control ml-2" type="search" placeholder="Search" aria-label="Search" name="query">
        </form>
        <button type="button" class="btn mr-2" id="search-submit">Search</button>
        <button type="button" class="btn" data-toggle="modal" data-target="#createFolderModel">+ Create Folder</button>
        {% if current.parent_folder %}
        <a type="button" class="btn" {% if current.parent_folder.parent_folder %}
            href="{% url 'folders' current.parent_folder.id %}" {% else %} href="{% url 'myfiles'%}" {% endif %}><i
                class=" fas fa-level-up-alt"></i>
        </a>
        {% endif %}
    </div>
</div>

{% include 'partials/forms/_create.html' %}
{% include 'partials/forms/_rename.html' %}
{% include 'partials/forms/_share.html' %}

<div style="min-height: 65%" id="drop_zone" ondrop="drag_drop(event)" ondragover="return false">
    {% if files or folders %}
    <table class="table table-hover file-view">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Owner</th>
                <th scope="col">Created</th>
                <th scope="col">Size</th>
                <th scope="col"></th>
            </tr>
        </thead>

        <tbody id="file-view-body">
            <!-- Folders -->
            {% include 'partials/_folder-row.html' %}
            <!-- Files -->
            {% include 'partials/_file-row.html' %}
        </tbody>
    </table>
    {% else %}
    {% include 'partials/_empty-state.html' %}
    {% endif %}
</div>


{% endblock %}