{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Header & Upload -->
<div class="container-fluid">
    <div class="row">
        <h2>My Files</h2>
    </div>
</div>


<!-- File/Folder Controls-Buttonbar -->
<div class="file-controls m-3 container-fluid">
    <div class="btn-group" role="group" aria-label="Basic example">
        <form action="{% url 'search' %}" id="search-form">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="query"
                value="{{ query }}">
        </form>
        <button type="button" class="btn" id="search-submit">Search</button>
    </div>
</div>


<div class="container-fluid m-3">
    <p>
        Showing search results for ''{{ query }}''
    </p>
</div>


<!-- Folder Rename Modal -->
<!-- Form : folder-rename-form -->
<!-- Submit method overwritten in myfiles.js -->
<div class="modal fade" id="renameModal" tabindex="-1" role="dialog" aria-labelledby="renameModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form class="modal-content" id="rename-form" method="POST">
            {% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title" id="renameModalLongTitle">Rename Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <input type="hidden" name="id" id="rename-cur-id">
                <input type="hidden" name="type" id="rename-type">
                <input type="text" placeholder="New Name" name="name" id="rename-name">
                <input type="submit" class="btn btn-primary" value="Rename">
            </div>
        </form>
    </div>
</div>

<table class="table table-hover file-view">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Owner</th>
            <th scope="col">Created</th>
            <th scope="col">Size</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody id="file-view-body">

        {% for folder in folders %}
        <tr id="folder-{{ folder.id }}-row">
            <td>
                <a href="{% url 'folders' folder.id %}" class="droppable draggable" id="folder-{{ folder.id }}">
                    <i class="fas fa-folder"></i>
                    <span id="folder-{{ folder.id }}-name">{{ folder.name }}</span>
                </a>
            </td>
            <td>folder {% if folder.is_public %}| <i class="fas fa-globe" title="Public Folder"></i>{% endif %}</td>
            <td>{{ folder.owner.first_name }}</td>
            <td>{{ folder.date_created |timesince }} ago</td>
            <td>-</td>
            <td>
                <div class="dropleft">
                    <button type="button" class="btn float-right" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" onclick="renamePopup('{{ folder.id }}',true)">Rename Folder</a>
                        <a class="dropdown-item" onclick="remove('{{ folder.id }}', true)">Delete Folder</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Share...</a>
                        <a class="dropdown-item" onclick="publish('{{ folder.id }}', true)">Create Public Link</a>
                        <a class="dropdown-item" href="#">Something</a>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}

        <!-- FILES -->
        {% for file in files %}
        <tr id="file-{{ file.id }}-row">
            <td>
                <a href="{% url 'download' file.id %}" class="draggable" id="file-{{ file.id }}">
                    <i class="fas fa-file"></i>
                    <span id="file-{{ file.id }}-name">{{ file.name }}</span></a>
            </td>
            <td>{{ file.file_type }} {% if file.is_public %} | <i class="fas fa-globe"
                    title="Public File"></i>{% endif %}</td>
            <td>{{ file.owner.first_name }}</td>
            <td>{{ file.date_created |timesince }} ago</td>
            <td>{{ file.file_source.size }}</td>
            <td>
                <div class="dropleft">
                    <button type="button" class="btn float-right" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a href="{% url 'download' file.id %}" class="dropdown-item">Download File</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" onclick="renamePopup('{{ file.id }}',false)">Rename File</a>
                        <a class="dropdown-item" onclick="remove('{{ file.id }}', false)">Remove File</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item">Share...</a>
                        <a class="dropdown-item" onclick="publish('{{ file.id }}', false)">Create Public Link</a>
                        <a class="dropdown-item">Something</a>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>

{% endblock %}