{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Header & Upload -->
<div class="container-fluid">
    <div class="row">
        <h2>Public Viewer</h2>
    </div>
</div>

<div class="container-fluid mt-2">
    <p>You are in Public View mode. Actions are limited to downloading & navigating the folder contents.</p>
</div>


<table class="table table-hover file-view">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Owner</th>
            <th scope="col">Created</th>
            <th scope="col">Size</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody id="file-view-body">
        <!-- Folders -->
        {% include 'partials/_folder-row.html' %}
        <!-- Files -->
        {% include 'partials/_file-row.html' %}
    </tbody>
</table>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/recyclebin.js' %}"></script>
{% endblock %}